/* ======= ОБНУЛЕНИЕ ======= */
* {padding: 0; margin: 0; border: 0;}
*:focus, *:active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {min-height: 100%; min-width: 100%;font-size: 100%; font-size: 14px;
    line-height: 1; -ms-font-size-adjust: 100%; -moz-font-size-adjust: 100%;
    -webkit-font-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input:-ms-clear {display: none;}
button {cursor: pointer;}
button:-moz-focus-inner {padding: 0; border: 0;}
ul li {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;}
/* ======= ОБНУЛЕНИЕ ======= */
body {
    font-family: Arial, monospace;
    color: white;
    background-image: -webkit-linear-gradient(to bottom, #007878, #000078);
    background-image: -moz-linear-gradient(to bottom, #007878, #000078);
    background-image: -o-linear-gradient(to bottom, #007878, #000078);
    background-image: linear-gradient(to bottom, #007878, #000078);
    background-repeat: no-repeat;
    text-align: center;
}
.catalog {
    position: absolute;
    top: 0;
    width: 100%;
}
.catalog__header {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.catalog__body {
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
}
.item {
    background-image: url('bg_repeat.jpg');
    border-radius: 10px;
    overflow: hidden;
    flex: 0 1 28%;
    padding: 10px;
}
.item__title, .item__content {
    margin-bottom: 5px;
}
.item__title {
    position: relative;
}
.item__title:before, 
.item__title:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: #000;
    top: 5px;
    transition: all .5s linear 0s;
}
.item__title:before {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    left: 0;
}
.item__title:after {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
    left: 8px;
}
.item__title.active:before {
    background-color: #f00;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
.item__title.active:after {
    background-color: #f00;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
}